html, body {
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/*CSS Variables*/
:root {
    --background-color: #fec7d7;
    --headline-color: #0e172c;
    --paragraph-color: #0e172c;
    --button-color: #0e172c;
    --button-text: #fffffe;
    --stroke-color: #0e172c;
    --main-color: #fec7d7;
    --highlight-color: #874040;
    --secondary-color: #d9d4e7;
    --tertiary-color: #a786df;
}
